
html {
    height:100%;
    overflow-y: scroll;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#responsive-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #3b5998;
    padding: 10px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
}

#hamburger {
    border: 1px solid #374c77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #4569b2;
    background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
    background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}

#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

nav {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 0;
    width: 70%;
}

#wrapper {
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #ffffff;
    padding: 52px 10px 10px 10px;
    -webkit-box-shadow: -10px 0 9px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -10px 0 9px 0 rgba(0, 0, 0, 0.4);
    box-shadow: -10px 0 9px 0 rgba(0, 0, 0, 0.4);
}

#wrapperLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
}

#filter, #mobile-filter {
    position: absolute;
    /*background: rgba(255,255,255,0.9);*/
    background: #4569b2;
    padding: 5px;
    opacity: 1;
    top: 40px;
    left: 10px;
    /*z-index:99;*/
    z-index: 0;
    height: 30px;
    width: 225px;
    margin-bottom: 0;
}

#map {
    height: 100%;
}

#list-container, #mobile-list-container {
    position: absolute;
    /*background: rgba(255,255,255,0.9);*/
    background: #4569b2;
    opacity: 1;
    padding: 5px;
    top: 90px;
    left: 10px;
    width: 225px;
    /*z-index: 99;*/
    z-index: 0;
    height: 100vh;
    overflow-y: scroll;
}

ul {
    padding-left: 10px;
}


li {
    list-style-type: none;
    border-top: 1px solid #CCC;
    padding-top: 10px;
    padding-left: 0;
}

li:first-child {
    border-top: none;
}

li:hover {
    background: cornflowerblue;
}

li:active {
    color: purple;
    background: grey;
}

.active-item {
    color: purple;
    background: grey;
}

.venue-header {
    margin-top: 0;
    padding-left: 5px;
}



@media (max-width: 460px) {
    #filter, #list-container {
        display: none;
    }
}

@media (min-width: 460px) {
    nav, #wrapperLayer {
        display: none;
    }
    #container {
        margin-left: -1px;
    }
    #wrapper {
        width: auto;

    }
}